body {
    background-color: #040607; /* لون خلفية هادئ */
    color: #FFFFFF !important; /* نص أبيض */
    overflow: hidden;
}

.nav-tab {
    background-color: #323940; /* لون أغمق لتباين جيد */
}

.logo {
    width: 75px;
}

i {
    cursor: pointer;
    color: #190606;
}

.meal-layer {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(109, 132, 138, 0.651); /* لون داكن شفاف */
    top: 100%;
    transition: 1s;
}

.meal:hover .meal-layer {
    top: 0px;
}

.side-nav-menu {
    z-index: 99;
}

.cursor-pointer {
    cursor: pointer;
}

.alert {
    width: fit-content;
    background-color: #F39C12; /* لون دافئ */
    color: #FFFFFF; /* نص أبيض */
}

.loading-screen {
    z-index: 999;
    display: flex;
}

.inner-loading-screen {
    position: absolute;
    z-index: 9;
    background-color: #333333; /* لون داكن */
    display: flex;
}

.placeholder {
    background-color: #F39C12; /* لون مميز للنصوص الوهمية */
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #2600ffb5 #009dff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      


